<a href="https://colab.research.google.com/github/loicpages/qmII_group_rep/blob/main/Precipitation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import requests
import json
import csv
import pandas as pd
from io import StringIO

import urllib.request    

urllib.request.urlretrieve("https://opendata.dwd.de/climate_environment/CDC/observations_global/CLIMAT/monthly/qc/precipitation_total/historical/67586_198209_201606.txt",'test.txt')
df = pd.read_csv("test.txt",delimiter=';')
df.set_index('Jahr', inplace=True)
df

        Jan    Feb    Mrz    Apr   Mai  ...   Aug   Sep    Okt    Nov    Dez
Jahr                                    ...
1982    NaN    NaN    NaN    NaN   NaN  ...   NaN   0.0    NaN   49.0    NaN
1983    NaN    NaN    NaN    NaN   NaN  ...   NaN   NaN    NaN   21.0    NaN
1984  159.0  193.0  125.0   15.0  33.0  ...   0.0   0.0    NaN  102.0  300.0
1985    NaN    NaN    NaN    NaN   NaN  ...  14.0   NaN    NaN    NaN    NaN
1986  157.0  188.0  119.0   37.0   0.0  ...   NaN   0.0   32.0   10.0  182.0
1987  225.0  139.0   93.0   24.0   2.0  ...   NaN   NaN    9.0    5.0   88.0
1988  231.0  147.0  200.0   16.0  33.0  ...   0.0   0.0  160.0  148.0   86.0
1989    NaN    NaN    NaN   18.0   4.0  ...   NaN   NaN    NaN    NaN    NaN
1990    NaN    NaN  257.0    NaN   NaN  ...   NaN   NaN    NaN    NaN    NaN
1991    NaN  181.0  104.0    5.0   3.0  ...   0.0   6.0   19.0   44.0  200.0
1992  142.0  117.0    NaN    1.0  10.0  ...   1.0   0.0    NaN   21.0   26.0
1993  205.0  203.0  301.0   14.0   1.0  ...   4.0   0.5    NaN   30.0   45.0
1994  401.0  214.0   25.0    NaN   0.0  ...   0.5   0.0    1.0   64.0  220.0
1995  304.0    NaN   65.0    1.0   NaN  ...   0.5   0.0    0.0    1.0  131.0
1996    NaN    NaN  285.0    NaN  15.0  ...   0.0   0.0    6.0  140.0  334.0
1997  154.0    NaN   50.0    NaN   1.0  ...   0.0  17.0   32.0  135.0  215.0
1998  195.0  180.0    NaN  370.0   0.0  ...   0.0   0.0    9.0   76.0  137.0
1999  263.0  187.0  264.0  298.0   0.0  ...   0.0   1.0    0.0    NaN    NaN
2000  140.0  256.0  124.0    6.0   0.0  ...   NaN   NaN    NaN   74.0   83.0
2001  189.0  240.0  167.0    8.0   0.0  ...   0.0   0.0    NaN   79.0    NaN
2002    NaN  255.0   52.0  102.0   0.0  ...   0.0  12.0   17.0   11.0  231.0
2003  337.0    NaN    NaN   12.0   0.0  ...  31.0   8.0    4.0   38.0    NaN
2004  193.0  103.0    NaN    NaN   NaN  ...   0.0   0.0   11.0    NaN  424.0
2005  136.0  175.0    NaN   12.0   0.0  ...   0.0   NaN    0.0    NaN  181.0
2006  119.0    NaN    NaN    NaN   NaN  ...   0.0   0.0    0.0   38.0  156.0
2007  311.0    NaN    NaN    NaN   0.0  ...   NaN   0.0    NaN    NaN    NaN
2008  328.0  132.0   74.0    2.0   NaN  ...   NaN   NaN   28.0   22.0    NaN
2009  256.0  150.0  168.0   20.0   0.0  ...   0.0   0.0    0.0  123.0  114.0
2010  143.0    NaN   93.0   10.0   0.0  ...   5.0   0.5    0.0   75.0  162.0
2011  198.0  160.0    NaN    NaN   NaN  ...   NaN   NaN    NaN    NaN    NaN
2012    NaN    NaN   65.0    NaN   NaN  ...   1.0   0.0    NaN   55.0  180.0
2013    NaN    NaN   82.0    NaN   NaN  ...   0.0   2.0    0.0   42.0  226.0
2014  255.0    NaN    NaN   73.0   5.0  ...   0.0   NaN    0.0    NaN    NaN
2015    NaN    NaN   30.0    NaN   0.0  ...   0.0   0.0    0.0   32.0    NaN
2016    NaN    NaN    NaN    NaN   NaN  ...   NaN   NaN    NaN    NaN    NaN

[35 rows x 12 columns]

In [14]:
import requests
import json
import csv
import pandas as pd
from io import StringIO

import urllib.request    

Madagascar  = ['67009_195109_201712.txt','67012_199901_201712.txt','67019_196104_199412.txt','67023_200901_201712.txt','67025_196010_201708.txt','67027_195109_201712.txt','67037_200901_201311.txt','67067_200801_200912.txt','67072_200801_200905.txt','67073_195109_201708.txt','67083_197501_201712.txt','67085_195109_201612.txt','67095_195109_201712.txt','67107_200901_201310.txt','67113_200901_200912.txt','67117_199901_200806.txt','67131_200801_200912.txt','67137_197111_201712.txt','67143_196201_201712.txt','67152_200102_201708.txt','7157_200906_201708.txt','67161_195109_201708.txt','67197_195109_201612.txt']
for x in range(len(Madagascar)): 
  urllib.request.urlretrieve("https://opendata.dwd.de/climate_environment/CDC/observations_global/CLIMAT/monthly/qc/precipitation_total/historical/"+"Madagascar[x]")
  globals()['string%s' % x] = pd.read_csv("test.txt",delimiter=';')
  globals()['string%s' % x]('globals()['string%s' % x]', index=False)
  globals()['string%s' % x]('Jahr', inplace=True)
  


#Malawi
67586_198209_201606.txt
67587_195808_198301.txt 
67693_194807_201511.txt
67791_201002_201005.txt  

#Mozambique
67201_201207_201712.txt 
67205_201208_201712.txt 
67215_194901_201712.txt 
67217_194901_201712.txt 
67221_201207_201712.txt  
67223_201207_201712.txt 
67229_201711_201712.txt  
67231_201205_201712.txt 
67237_197001_201712.txt 
67241_194901_201712.txt 
67260_201308_201611.txt  
67261_194901_201712.txt 
67271_201302_201312.txt 
67273_201405_201711.txt 
67283_194901_201712.txt   
67291_201305_201307.txt   
67295_200810_201712.txt  
67297_194901_201712.txt    
67305_201706_201712.txt
67309_201706_201712.txt
67315_201304_201412.txt 
67323_194901_201712.txt 
67327_201204_201712.txt                            
67331_201307_201712.txt 
67335_200703_201712.txt     
67339_201604_201712.txt                            
67341_194901_201712.txt                            
67346_201306_201712.txt                            

#Namibia
68006_201101_201710.txt 
68014_196901_201710.txt                            
68015_201303_201712.txt 
68018_201101_201712.txt 
68098_201101_201712.txt                            
68104_198910_200006.txt                            
68106_201005_201712.txt  
68109_201502_201505.txt  
68110_195001_201712.txt                            
68112_196602_201712.txt                            

#Zambia
67581_201510_201711.txt 
67571_201609_201610.txt 
67599_201608_201612.txt                            
67633_194904_201708.txt                            
67641_201701_201706.txt 
67663_195712_201602.txt
67665_201512_201701.txt 
67666_201510_201510.txt 

#Zimbabwe
67761_201104_201110.txt
67774_194901_199806.txt 
67775_197301_201412.txt
67964_194901_201709.txt                            
67975_198910_201409.txt 
67977_201501_201711.txt
67983_194901_201707.txt 
67991_198910_200008.txt

for i in Madagascar
  urllib.request.urlretrieve("https://opendata.dwd.de/climate_environment/CDC/observations_global/CLIMAT/monthly/qc/precipitation_total/historical/i",
  dfx = pd.read_csv("test.txt",delimiter=';')
  dfx.to_csv('Demox.csv', index=False)
  dfx.set_index('Jahr', inplace=True)


dfx = dfx.loc['1980':'2015']
  country_feature1= general_df[general_df['Country']==country][feature1]
  df_feature1=pd.DataFrame(country_feature1)  

  country_feature2= general_df[general_df['Country']==country][feature2]
  df_feature2 =pd.DataFrame(country_feature2) 

  merged = df_feature1.merge(df_feature2, left_index=True, right_index=True)

  merged.plot(x=feature1, y=feature2, kind = 'scatter')
 
  plt.title(country)
  
  merged.corr()
  
#creating scatter plots to sow the relationship between food production per capita and food availability 
#in country 8 countries in Southern Africa  
plot_country('Zimbabwe','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Zambia','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Swaziland','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Namibia','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Mozambique','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Malawi','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Madagascar','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')
plot_country('Lesotho','Production Quantity per capita (kg/cap/year)','Food Availibility per capita (kg/cap/year)')

SyntaxError: ignored

#Sets global base URL as per https://datahelpdesk.worldbank.org/knowledgebase/articles/902061-climate-data-api

base_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country"

#Function that generates querry URL based on user requirements
def set_querry_url(measure_type,var_type,start_period,end_period,country_code,file_extension):
    querry_url = base_url+"/"+measure_type+"/"+var_type+"/"+start_period+"/"+end_period+"/"+country_code+"."+file_extension
    short_name = country_code+"_"+start_period+"_"+end_period+"_"+measure_type+"_"+var_type+"."+file_extension
    response = requests.get(querry_url)
    print("API Status Code:" + str(response.status_code))
    print(querry_url)
    return file_extension, short_name, response

#File downloader based on file format chosen by user during querry setup in set_querry_url   
def download_formatted_data(querry_response):
    if querry_response[0] == "json":
        json_data = querry_response[2].json()      
        with open(querry_response[1]+".json", 'w') as json_file:
            json.dump(json_data, json_file, indent=4)
    else: 
        querry_response[0] == "csv"
        csv_data = querry_response[2].text
        csv_data_SIO = StringIO(csv_data)
        with open(querry_response[1]+".csv", 'w') as csv_file:
            for line in csv_data_SIO:
                csv_file.write(line)
    return True

if __name__ == '__main__':
    querry_response = set_querry_url("annualavg","pr","1980","2015","ZWE","csv")
    download_formatted_data(querry_response)